<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quora Posts</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h1>Quora All posts</h1>
    <main class="main">
        <% for(post of posts) { %>
            <div>
                <h2> @<%=post.username %>
                </h2>
                <p>
                    <%= post.content %>
                </p> <br>
                <button><a href="http://localhost:3000/posts/<%=post.id %>">see detaisl</a></button>
                <button><a href="http://localhost:3000/posts/<%=post.id %>/edit">Edit </a></button>
                <form method="post" action="/posts/<%=post.id%>?_method=DELETE">
                    <button>Delete post</button>
                </form>
            </div>
            <% } %>
                <button class="new-post"><a href="http://localhost:3000/posts/new">New Post</a></button>

    </main>
</body>

</html>